PORT=4000
CORS_ORIGIN=http://localhost:3000
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER_MEDIA=media
AZURE_STORAGE_CONTAINER_THUMBNAILS=thumbnails
AZURE_COSMOS_ENDPOINT=
AZURE_COSMOS_KEY=
AZURE_COSMOS_DB_NAME=smartphotos
AZURE_COSMOS_CONTAINER_MEDIA=mediaItems
AZURE_COSMOS_CONTAINER_PEOPLE=people
AZURE_VISION_ENDPOINT=https://<resource>.cognitiveservices.azure.com
AZURE_VISION_KEY=
AZURE_FACE_ENDPOINT=https://<resource>.cognitiveservices.azure.com
AZURE_FACE_KEY=
AZURE_SAS_TTL_MINUTES=30
AZURE_CDN_BASE_URL=
